
{% extends 'userappmain.html' %}
{% block content %}
{% load static %}
   <!-- tp-hero-area-start -->
   <main>
   <div class="tp-hero-area-two">
      <div class="tp-hero-bg-circle p-relative height-100">
         <div class="tp-hero-light-shape-one w-icon">
            <img src="assets/juno-images/icons/Star-5.png" alt="">
         </div>
         <div class="tp-hero-light-shape-two w-icon">
            <img src="assets/juno-images/icons/cube1.png" alt="">
         </div>
         <div class="tp-hero-light-shape-three z-index-1 w-icon">
            <img src="assets/juno-images/icons/cube2.png" alt="">
         </div>
         <div class="tp-hero-light-shape-four z-index-1 w-icon">
            <img src="assets/juno-images/icons/cube3.png" alt="">
         </div>
         <div class="container height-100">
            <div class="row justify-content-center height-100">
               <div class="col-xl-10 height-100">
                  <div class="tp-hero-content-box text-center">
                     <h3 class="tp-hero-title wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".6s">Meet the new <br>way of learning</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui purus dignissim sagittis,<br> aliquam doloante ltrices sed a vitae cras in. Congue auctor mauris </p>
                     <div class="tp-hero-img mt-20 wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".8s">
                        <img src="assets/juno-images/banner2.png" alt="">
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   </main>
   <!-- tp-hero-area-end -->
{% endblock %}